{% extends 'base.html.twig' %}

{% block body %}
<div id="admin">
  <div class="container">
    <h1>Création et modification de dates et de lieux de formations</h1>
    <div class="">
      <h3>Pour ajouter une nouvelle date et/ou un lieu de formation :</h3>
      <div class="row justify-content-center">
        <a class="btn btn-primary" href="{{ path('admin_create')}}">Ajouter une nouvelle date</a>
      </div>
    </div>

    <h1 class="">Lista de dates</h1>
    <h3>Pour modifier ou eliminer une date et/ou un lieu de formation, taper sur les boutons</h3>
    <div class="row">
      <div class="col-12">
        <h2>Stage A1</h2>
        <p>Dates :</p>
        <ul>
          {% for formation in dates_formations %}
            {% if formation.category.title == "Stage A1"  %}
              <li>{{ formation.date }} <a class="btn btn-warning" href="admin/{{formation.id}}/edit">editer</a> <a class="btn btn-danger" href="admin/{{formation.id}}/delete"> eliminer</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Stage A2</h2>
        <p>Dates:</p>
        <ul>
          {% for formation in dates_formations %}
            {% if formation.category.title == "Stage A2"  %}
              <li>{{ formation.date }} <a class="btn btn-warning" href="admin/{{formation.id}}/edit">editer</a> <a class="btn btn-danger" href="admin/{{formation.id}}/delete"> eliminer</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Stage B</h2>
        <p>Dates:</p>
        <ul>
          {% for formation in dates_formations %}
            {% if formation.category.title == "Stage B"  %}
              <li>{{ formation.date }} <a class="btn btn-warning" href="admin/{{formation.id}}/edit">editer</a> <a class="btn btn-danger" href="#"> eliminer</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Ateliers</h2>
        <p>Dates:</p>
        <ul>
          {% for formation in dates_formations %}
            {% if formation.category.title == "Ateliers"  %}
              <li>{{ formation.date }} <a class="btn btn-warning" href="admin/{{formation.id}}/edit">editer</a> <a class="btn btn-danger" href="#"> eliminer</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
{% endblock %}
