
{% extends 'base.html.twig' %}

{% block title %}Contact - Atelier Relationnel{% endblock %}

{% block body %}
<div id="contact">
  <div class="container-fluid">
    <div class="main-image row">
      <div class="bcg-parallax">
        <h3>Envoyez-nous un message</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid block-pin pb-2">
    <h1>Contact</h1>
    <div class="container blockLeft animated opacity">
        {{form_start(formContact)}}
          {{form_row(formContact.name, {'label': "Prenom et Nom"})}}
          {{form_row(formContact.email)}}
          {{form_row(formContact.object, {'label': "Objet"})}}
          {{form_row(formContact.message)}}
          <button type="submit" class="btn btn-primary">Envoyer</button>
        {{form_end(formContact)}}
    </div>
  </div>

</div>

{% endblock %}
