<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}Atelier Relationnel{% endblock %}</title>
      <!--<link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">-->
      {% block stylesheets %}
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Montserrat|Pacifico" rel="stylesheet">
         <link rel="stylesheet" href="{{asset('build/css/app.css')}}">

      {% endblock %}
    </head>

    <body>
      <header>
        <div class="container">
          <div class="logonavbar row">
              <div class="logo col-9 col-lg-4">
                <a href="/"><div class="logo-img"></div></a>
              </div>
              <div class="menu col-3 col-lg-8">
                <nav class="d-none d-lg-block">
                  <ul>
                    <li><a class="{% if page == "about" %}active{% endif %}" href="{{path('about')}}">Qui sommes-nous</a></li>
                    <li><a class="{% if page == "methode" %}active{% endif %}" href="{{path('methode')}}">Méthode RE®</a></li>
                    <li><a class="{% if page == "formations" %}active{% endif %}" href="{{path('formations')}}">Formations</a></li>
                    <li><a class="{% if page == "contact" %}active{% endif %}" href="{{path('contact')}}">Contact</a></li>
                    <li><a href="">Se loger</a></li>
                  <!--  <li><a href="">sortir</a></li>-->
                  </ul>
                </nav>
                <nav class="d-lg-none">
                  <ul>
                    <li><a class="burger" href="#"><img src="{{ asset('img/menu.svg')}}" alt=""></a></li>
                  </ul>
                </nav>
              </div><!--end of menu -->
          </div><!--end of logonavbar -->
        </div><!--end of container -->
        <div class="menu-responsive d-lg-none">
          <nav>
            <ul>
              <li><a href="{{path('about')}}">Qui sommes-nous</a></li>
              <li><a href="{{path('methode')}}">Méthode RE®</a></li>
              <li><a href="{{path('formations')}}">Formations</a></li>
              <li><a href="{{path('contact')}}">Contact</a></li>
            </ul>
          </nav>
        </div><!--end of menu-responsive -->
      </header>

      {% block body %}


      {% endblock %}
