<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}Atelier Relationnel{% endblock %}</title>
      <!--<link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">-->
      {% block stylesheets %}
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Montserrat|Pacifico" rel="stylesheet">

         <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
         <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>




      {% endblock %}
    </head>

    <body>
      <header>
        <div class="container">
          <div class="logonavbar row">
              <div class="logo col-9 col-lg-3">
                <a href="/"><div class="logo-img"></div></a>
              </div>
              <div class="menu col-3 col-lg-9">
                <nav class="d-none d-lg-block">
                  <ul>
                    <li><a class="{% if page == "about" %}active{% endif %}" href="{{path('about')}}">Qui sommes-nous</a></li>
                    <li><a class="{% if page == "methode" %}active{% endif %}" href="{{path('methode')}}">Méthode R.E.®</a></li>
                    <li><a class="{% if page == "formations" %}active{% endif %}" href="{{path('formations')}}">Formations</a></li>
                    <li><a class="{% if page == "contact" %}active{% endif %}" href="{{path('contact')}}">Contact</a></li>
                    {% if app.user %}
                      <li><a class="logout" href="{{path('security_logout')}}">Déconnexion</a> </li>
                    {% endif %}
                  </ul>
                </nav>
                <nav class="d-lg-none">
                  <ul>
                    <li><a class="burger" href="#"><img src="img/menu.svg" alt=""></a></li>
                  </ul>
                </nav>
              </div><!--end of menu -->
          </div><!--end of logonavbar -->
        </div><!--end of container -->
        <div class="menu-responsive d-lg-none">
          <nav>
            <ul>
              <li><a href="{{path('about')}}">Qui sommes-nous</a></li>
              <li><a href="{{path('methode')}}">Méthode R.E.®</a></li>
              <li><a href="{{path('formations')}}">Formations</a></li>
              <li><a href="{{path('contact')}}">Contact</a></li>
            </ul>
          </nav>
        </div><!--end of menu-responsive -->
      </header>

      {% block body %}


      {% endblock %}

      <footer>
          <div class="contact-footer">
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="row h4">
                  <h4>Nous contacter</h4>
                </div>
                <div class="row">
                  <div class="anne col-12 col-lg-6">
                    <div class="row info-cotact">
                      <div class="col-5 col-md-6">
                        <div class="image-footer"></div>
                      </div>
                      <div class="col-6">
                        <h5>AnneLaurence<br/>DOMBRE</h5>
                        <p>Practicien RE</p>
                        <p><i class="fas fa-phone d-none d-md-inline"></i> 06 16 70 05 43<br/><i class="far fa-envelope d-none d-md-inline"></i> annelodo@gmail.com</p>
                      </div>
                    </div>
                  </div>
                  <div class="monique col-12 col-lg-6">
                    <div class="row info-cotact">
                      <div class="col-5 col-md-6">
                        <div class="image-footer"></div>
                      </div>
                      <div class="col-6">
                        <h5>Monique <br/>DUCARRE</h5>
                        <p>Superviseur RE</p>
                        <p><i class="fas fa-phone d-none d-md-inline"></i> 06 75 89 63 27<br/><span><i class="far fa-envelope d-none d-md-inline"></i> monique.ducarre@wanadoo.fr</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="links col-12 col-lg-3">
                <h4>Liens</h4>
                <ul>
                  <li><a href="http://www.ifre.info" target="_blank">Institut Francophone de la Relation - IFRE</a></li>
                  <li><a href="http://www.nicolesarradon.fr/" target="_blank">Nicole SARRADON (13)</a></li>
                  <li><a href="http://faislelien.fr/" target="_blank">Maud RYAUX NOUDEL (84) </a></li>
                  <li><a href="http://www.deviensquitues-var.com/" target="_blank">Céline Barrau (83)</a></li>
                  <li><a href="https://mariepugeat.com/" target="_blank">Marie PUGEAT (38)</a></li>
                  <li><a href="http://sexologuemarques.wixsite.com/sandram" target="_blank">Sandra MARQUES (32)</a></li>
                  <li><a href="http://www.lise-nathanson.fr/" target="_blank">Lise Nathanson (95)</a></li>
                  <li><a href="http://methode.re.relacom.monsite-orange.fr/" target="_blank">William BOURIAUX (83) (32)</a></li>
                  <li><a href="http://www.sexologie-montpellier.fr/" target="_blank">Ingrid LEBEAU (34)</a></li>
                </ul>
              </div><!--end of links -->
            </div><!--end of row -->
          </div><!--end of contact form -->
          <div class="menu-footer">
            <ul class="row">
              <li><a href="{{path('home')}}">Accueil</a></li>
              <li><a href="{{path('about')}}">Qui sommes-nous</a></li>
              <li><a href="{{path('methode')}}">Méthode R.E.</a></li>
              <li><a href="{{path('formations')}}">Formations</a></li>
              <li><a href="{{path('contact')}}">Contact</a></li>
            </ul>
            <p>Copyright © 2018 L’Atelier Relationnel - Conception et réalisation  - <a href="https://jessicapineros.com/" target="_blank">Jessica PINEROS DROIN</a> - <a href="{{path('mentions')}}">Mentions légales</a></p>
          </div>
      </footer>

      {% block javascripts %}
              <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
        <script type="text/javascript" src="{{ asset('build/js/app.js')}}"></script>



      {% endblock %}
    </body>
</html>
